name: XPeng KPI Alert

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  alert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      ...
